<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Edit</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
<div class="container">
    <div class="col-md-6">
        <form action="#" th:action="@{/todo/{id}(id=${todo.id})}" th:object="${todo}" method="POST">
            <div class="form-group">
                <label for="description">Description</label>
                <input class="form-control" type="text" th:field="*{description}" id="description"
                       placeholder="Add a description">
                <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
            </div>
            <div class="checkbox">
                <label>
                    <input id="completed" type="checkbox" th:checked="${completed} == true" th:field="*{completed}" />
                    Complete
                </label>
            </div>

            <button class="btn btn-success" type="submit">Update</button>

            <input type="hidden" th:field="*{created_date}" />
            <input type="hidden" th:field="*{modified_date}" />
        </form>
    </div>
</div>
</body>

</html>